#container {
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#canvasBig {
    width: auto;
    height: 300%;
}

#previewCanvas {
    top: 50%;
    left: 50%;
    margin-top: 20px;
}

canvas {
    /* border: 1px solid black; */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    object-fit: contain;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}